__pycache__/
*.py[cod]
*.egg-info/

.cache/
.coverage
coverage.xml
htmlcov/
report.xml

.mypy_cache/
.pytest_cache/
.ruff_cache/

.venv/
venv/

node_modules/
dist/
*.tsbuildinfo

.env
.env.*
!.env.example

.idea/
.vscode/
