TRANSCRIBER_API_PORT=8000
TRANSCRIBER_POSTGRES_PORT=5432
TRANSCRIBER_REDIS_PORT=6379

TRANSCRIBER_POSTGRES_DB=transcriber
TRANSCRIBER_POSTGRES_USER=transcriber
TRANSCRIBER_POSTGRES_PASSWORD=replace-this-development-password

TRANSCRIBER_MODEL=small
TRANSCRIBER_DEVICE=cpu
TRANSCRIBER_REDIS_STATE_TTL_SECONDS=86400
